{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">Login Information</h6>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Last Name</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Email</label>
                                {{ form.email }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Phone</label>
                                {{ form.phone }}
                            </div>
                        </div>
                        
                        <hr>
                        <h6 class="heading-small text-muted mb-4">Parent Details</h6>
                        <div class="mb-3">
                            <label>Occupation</label>
                            {{ form.occupation }}
                        </div>
                        <div class="mb-3">
                            <label>Address</label>
                            {{ form.address }}
                        </div>

                        <button type="submit" class="btn btn-primary">Save Parent</button>
                        <a href="{% url 'parent_list' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}